@model IndexModel

@if (Model.Results is { } products)
{
    @foreach (var product in products)
    {
        <tr class="align-top">
            <td class="text-start">@product.ProductId</td>
            <td class="text-start w-10">@product.Name</td>
            <td class="text-start w-25">@product.Description</td>
            <td class="text-start">@product.ProductCategoryName</td>
            <td class="text-end">@Convert.ToDecimal(string.Format("{0:0.00}", product.ProductPrice))</td>
            <td class="text-center w-25 h-25"><img src="@product.ProductImageUrl" alt="pen" class="img-fluid img-thumbnail" /></td>
            <td class="text-center">
                <button hx-get
                        hx-page="Index"
                        hx-page-handler="UpdateModal"
                        hx-route-id=@product.ProductId
                        hx-target="#modal-container"
                        class="btn-sm border-0 bg-transparent"
                        style="font-size:1.1rem">
                    <img src="~/img/pen.svg" alt="pen" width="16" />
                </button>
            </td>
            <td class="text-center">

                <button hx-get
                        hx-page="Index"
                        hx-page-handler="DeleteModal"
                        hx-route-id=@product.ProductId
                        hx-target="#modal-container"
                        class="btn-sm border-0 bg-transparent"
                        style="font-size:1.1rem">
                    <img src="~/img/trash.svg" alt="trash" width="16" />
                </button>
            </td>
        </tr>
    }
}
@if (!Model.Results.Any())
{
    <tr>
        <td colspan="8">No Results for "@Model.Query"</td>
    </tr>
}