@model Market.Web.Pages.Coupon.IndexModel
@{
    ArgumentNullException.ThrowIfNull(Model);
}

@if (Model.Results is { } coupons)
{
    @foreach (var coupon in coupons)
    {
        <tr>
            <td style="text-align:start">@coupon.CouponId</td>
            <td style="text-align:start">@coupon.CouponCode</td>
            <td style="text-align:start">@coupon.CouponName</td>
            <td style="text-align:end">@Convert.ToDecimal(string.Format("{0:0.00}", coupon.CouponDisccountAmount))</td>
            <td style="text-align:end">@Convert.ToDecimal(string.Format("{0:0.00}", coupon.CouponMinAmmount))</td>
            <td style="text-align:end">@coupon.CouponStartDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
            <td style="text-align:end">@coupon.CouponEndDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
            <td style="text-align:center">

                <a hx-get="@Url.Page("Index", "UpdateModal", new { id = @coupon.CouponId})"
                   hx-trigger="click"
                   hx-target="#modals-here"
                   hx-swap="innerHTML"
                   hx-tries="3" hx-timeout="60s" type="button">
                    <img style="margin-inline:0.5em" src="~/img/pen.svg" alt="pen" style="height: 1.2rem; mar">
                </a>
                <img style="margin-inline:0.5em" src="~/img/trash.svg" alt="trash" style="height: 1.2rem">
                <img style="margin-inline:0.5em" src="~/img/circle-info.svg" alt="trash" style="height: 1.2rem">
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="4">No Results for "@Model.Query"</td>
    </tr>
}